* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Playfair Display";
}

body {
    font-family: Lato;
    overflow: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
    gap: 1rem;
}

header h1 {
    flex: 80;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    border-radius: 1rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: solid 1px #000000;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #000000;
    cursor: pointer;
}

.react-container {
    position: relative;
    height: 100%;
    padding: 1rem;
}

.loading {
    z-index: 10;
}

.dialog {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000022;
    position: absolute;
    font-size: 1.5rem;
    z-index: 2;
}

.transactions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.15rem;
}

.transactions table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.transactions table thead tr {
    background-color: #000000;
    color: white;
    border-radius: 1rem;
}

.transactions table tr:nth-child(even) {
    background-color: #00000010;
}

.transactions table tr td {
    text-align: left;
    text-transform: capitalize;
}

.transactions table tr td:nth-child(5) {
    text-align: right;
}

.transactions table tr td.opts {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: flex-end;
}

.transactions div {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.form-dialog {
    width: 30rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
}

.form-dialog input,
.form-dialog select {
    font-size: 1.15rem;
    padding: 0.5rem;
    width: 100%;
}

.form-dialog div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    font-size: 1.15rem;
}

.budget {
    font-size: 1.15rem;
}

.budget-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.budget-tab div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.budget table {
    width: 100%;
    border-collapse: collapse;
}

.budget table tr th {
    background-color: #000000;
    color: white;
    /* border-radius: 0.5rem; */
    padding: 0.25rem;
}
